/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Baskerville, serif; /* Define your preferred font stack */
  font-size: 1.2rem; /* Set a base font size */
  line-height: 1.6; /* Adjust line height for readability */
  background-color: #f9efe7be;
  /* Background color for the body */
  color: #333; /* Text color */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Define heading styles */
  font-weight: bold;
  margin: 10px 0;
  text-transform: capitalize;
}

a {
  color: rgb(111, 20, 181); /* Define link color */
  text-decoration: none; /* Remove default underline */
}
.container {
  width: 100%; /* Adjust to your layout needs */
  max-width: 1200px; /* Set maximum width for content */
  margin: 0 auto; /* Center container */
  padding: 0 20px; /* Add padding inside container */
}

/* Remove default list styles from both unordered and ordered lists */
ul,
li {
  list-style: none;
}

.button-wrap {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  display: inline-block;
  padding: 5px 15px;
  background-color: #b79833; /* Change color as needed */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 auto;
}

.home-button:hover {
  background-color: #886313; /* Change color on hover as needed */
  transition: all 0.2s ease-out;
}

header h1 {
  text-align: center;
}

.recipes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  flex-basis: 30%;
}
.card li {
  width: 100%;
  height: 50%;
  background-color: #f9efe7be;
  text-align: center;
}
.card img {
  width: 100%;
  height: 80%;
}
.card img:hover {
  scale: 1.03;
  transition: all 0.2s ease-out;
}

.card a:hover {
  color: rgb(104, 73, 5);
}

.image {
  display: flex;
  justify-content: center;
  height: 40%;
  margin: 20px;
}

.image img {
  width: 50%;
}

.instructions li::marker {
  padding-left: 3px;
}
